.type-size (@pixel-size) when (ispixel(@pixel-size)) {
    @rem-size: ~`(parseInt("@{pixel-size}") / 10) + 'rem'`;
    font-size: @pixel-size;
    font-size: @rem-size;
}

.button-base-style () {
    .type-size(16px);
    color: #ffffff;
    .inline-block;
    padding: 5px 15px;
    margin: 0;    
    .transition(all, .3s);
    .inset-shadow(0, 0, 1px, 0, rgba(255, 255, 255, 0.7));
    .rounded-corners(5px);
    border-width: 1px;
    border-style: solid;
    .vertical-gradient(#2babbe, #2392a2, #2babbe);
    border-color: #1c7885;
    text-decoration:none;
    
    &:hover, &:focus {
        .vertical-gradient(#dfa01a, #c88f17, #dfa01a);
        cursor: pointer;
        color:#fff;
        border-color: #93690f;
    }
}
