
{{^user}}
    <h1>Checklists login</h1>
    <div class="login">        
        <a class="button login" href="/auth">Login via github <span class="icon">githuub login</span></a>
    </div>

{{/user}}

{{#user}}
    <a class="menu signout" title="Sign me out" href="/auth/signout">Sign me out</a>
    <h1>Your checklists</h1>
    <div class="logged-in">                 
        <a href="list">Create new list</a>

        <ul class="saved-lists">
            <li>
                <a href="list">List 1</a>
            </li>
            <li>
                <a href="list">List 2</a>
            </li>
            <li>
                <a href="list">List 3</a>
            </li>
            <li>
                <a href="list">List 4</a>
            </li>
        </ul>
    </div>

{{/user}}
