<a href="/">Take me home</a>

<h1>This is a list, check it innit</h1>

<form name="checklist" id="checklist-form" method="post">
    <fieldset class="project-name">
        <label for="project-name">Project or task name</label>
        <input id="project-name" name="project-name" type="text" placeholder="Project or task name" />
    </fieldset>
    
    <fieldset class="checklist-list">
        <h3 class="module-title">CSS</h3>
        <ul class="list-options">
            <li>Does the CSS validates?</li>
        </ul>
        <h3 class="module-title">PHP</h3>
        <ul class="list-options">
            <li>Does the feature work without teh javascripts</li>
            <li>Has you done teh lintings</li>
        </ul>
        <h3 class="momodule-titledule">JS</h3>
        <ul class="list-options">
            <li>Does the feature work without teh javascripts</li>
            <li>Has you done teh lintings</li>
        </ul>
    </fieldset>
</form>