<!DOCTYPE html>
<html lang="en-GB">
<head>

    <meta charset="utf-8"/>
    <title>{{title}}</title>

    <link rel="stylesheet" type="text/less" href="/style/main.less"/>
    <script>
        // prevent LESS from caching
        var less = {
            env: 'development'
        };

    </script>
    <script src="/script/less.min.js"></script>
    
</head>
<body>
    <div class="main">
        {{{body}}}
    </div>
    <script src="/script/jquery.js"></script>
    <script src="/script/functions.js"></script>
</body>
</html>